* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }
 a:focus,
 a:active {
	outline: none;
 }
 nav,
 footer,
 header,
 aside {
	display: block;
 }
 html,
 body {
	 font-family: 'Balsamiq Sans', cursive;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 input,
 button,
 textarea {
	font-family: 'Balsamiq Sans', cursive;
 }
 input::-ms-clear {
	display: none;
 }
 button {
	cursor: pointer;
 }
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 a,
 a:visited {
	text-decoration: none;
 }
 a:hover {
	text-decoration: none;
 }
 ul li {
	list-style: none;
 }
 img {
	vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-size: inherit;
	font-weight: 400;
 }
 ul.news-text li{
	list-style-type: disc;
}
 
 body {
	 background-color: #213242;
	min-height: 780px;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .wrapper {
	min-height: 98%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
 }
 .header {
	display: flex;
	width: 100%;
	justify-content: space-between;
    padding: 15px 20px 0 20px;
	height: 50px;
 }
 .comeback-button {
	color: #FEC727;
	font-size: 44px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	color: #05EFD4;
 }
 .comeback-button:active{
	 transform: scale(0.5);
  }
 .social-list{
	display: flex;
	gap: 20px;
 }
 .settings-top-icon{
	font-size: 40px;
	color: #ffffff;
 }
 .main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex: 1 1 auto;

 }
 .item-body {
    display: flex;
    gap: 10px;
 }
 .mark {
    display: flex;
	align-items: center;
    justify-content: center;
	border: 1px solid #05EFD4;
	background-color: #1c2c3a;
	border-radius: 10px;
	box-shadow: 0px -1px 20px 0px rgb(255 255 255 / 25%), 0px 2px 4px 1px rgb(0 0 0 / 45%);
	color: #FFFFFF;
	padding: 10px;
	transition: 1.4s;
    font-size: 25px;
	width: 50px;
	height: 50px;
}
.mark:hover {
    background: #05EFD4;
    color: #000000;
}
 .main-item {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	font-family: 'Balsamiq Sans', cursive;
	width: 170px;
	text-align: center;
	font-size: 23px;
	height: 50px; 
	border: 1px solid #05EFD4;
	background-color: #1c2c3a;
	border-radius: 10px;
	box-shadow: 0px -1px 20px 0px rgb(255 255 255 / 25%), 0px 2px 4px 1px rgb(0 0 0 / 45%);
	color: #FFFFFF;
	transition: 0.4s;
 }
 .main-item:active{
	transform: scale(0.95);
	box-shadow: 0px -1px 20px 0px rgb(0 211 255), 0px 2px 4px 1px rgb(0 255 26 / 70%);
	background-color: #05EFD4;
	color: #000000;
 }
 .sign-in {
	 transition: 0.4s;
 }
 .sign-in:active{
	 transform: scale(0.9);
	 color: #000000;
 }
 .gamepad {
	 width: 45px;
  }
 .main-item a {
	color: #FFFFFF;
 }
 .gray-background-container{
	 position: absolute;
	 display: none;
	 width: 100%;
	 height: 100%;
	 background-color: rgb(0 0 0 / 50%);
	 z-index: 2;
 }
 .support-body{
	display: none;
	flex-direction: column;
	font-size: 22px;
	font-family: 'Balsamiq Sans', cursive;
	position: absolute;
	text-align: center;
	width: 250px;
    height: 250px;
	background-color:#0c4e74;
	z-index: 3;
	border: 4px solid #05EFD4;
	border-radius: 15px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
 }
 .input-trouble{
	height: 200px;
    overflow: scroll;
    background-color: #0c4e74;
    padding: 12px;
    color: #ffffff;
    transition: 1s;
	border-radius: 15px;
	font-size: 18px;
 }
 .submit-button{
    border-radius: 15px;
    border: 2px solid #05EFD4;
    width: 180px;
    height: 35px;
    font-size: 20px;
    background-color: #0c4e74;
    color: #05EFD4;
    transition: 0.8s;
	margin: 22px auto;
 }
 .submit-button:active{
	transform: scale(0.95);
	box-shadow: 0px 0px 20px -4px #05efd4;
	color: #000;
	background-color: #05EFD4;
}
 .close-support{
	position: absolute;
    border: 2px solid #05EFD4;
    border-radius: 10px;
    transition: 0.1s;
    color: red;
    right: -15px;
    top: -15px;
    background: #11215a;
    font-size: 26px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .close-support:active{
	transform: scale(0.95);
    box-shadow: 0px 0px 20px 2px rgb(10 242 255 / 25%);
	background-color: #05EFD4;
	color: #000;
 }
 .developers-container_body{
	 display: none;
	 flex-direction: column;
	 font-size: 22px;
	 font-family: 'Balsamiq Sans', cursive;
	 position: absolute;
	 text-align: center;
	 width: 190px;
	 background-color:#0c4e74;
	 z-index: 3;
	 border: 4px solid #05EFD4;
	 border-radius: 15px;
	 top:50%;
	 left:50%;
	 transform:translate(-50%, -50%);
 }
 .footer {
    display: flex;
    justify-content: space-between;
	width: 100%;
	padding: 0 20px;
	align-items: center;
	height: 50px;
 }
 .privacy{
	color: #05EFD4;
	font-size: 24px;
 }
 .version {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 24px;
	color: #05EFD4;
 }
 .donate-text{
	margin: 10px;
	font-size: 24px;
 }
 .settings-main-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 400px;
 }
 
 .sound {
	margin: 3px 0 0 49px;
	width: 43px;
 }
 .language {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .close{
	 background-color: #05EFD4;
	 color: red;
   }
   .close:active{
	 transition: 0.2s;
	 box-shadow: 0px -1px 20px 0px rgb(0 211 255), 0px 2px 4px 1px rgb(0 255 26 / 70%);
   }
   .news-body{
	display: none;
	flex-direction: column;
	font-family: 'Balsamiq Sans', cursive;
	position: absolute;
	text-align: center;
	width: 280px;
	background-color:#0c4e74;
	z-index: 3;
	border: 4px solid #05EFD4;
	border-radius: 15px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	padding: 15px;
	gap: 20px;
   } 
   .news-title{
    font-size: 20px;
    color: #05EFD4;
	font-weight: 600;
   }
   .news-text{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: justify;
	margin: 0 auto;
	font-size: 18px;
   }
   .date{
	color: #05efd4;
   }
   .close-news{
	display: flex;
	justify-content: center;
	border: 3px solid #05EFD4;
	border-radius: 10px;
	box-shadow: 0px -1px 4px rgb(0 255 5 / 30%), 0px 3px 0px rgb(0 241 255 / 25%);
	color: red;
	font-size: 26px;
 }
 .close-news:active{
	transform: scale(0.95);
    box-shadow: 0px 0px 20px 2px rgb(10 242 255 / 25%);
	background-color: #05EFD4;
	color: #000;
 }
   .Porfiriy{
	 color: #ffffff;
	 margin: 20px 0 10px 0;
   }
   .Aleksey{
	color: #ffffff;
	 margin: 10px 0 20px 0;
   }
   .about-us-container{
	 display: none;
	 flex-direction: column;
	 justify-content: space-between;
	 font-size: 16px;
	 font-family: 'Balsamiq Sans', cursive;
	 position: absolute;
	 background-color:#0c4e74;
	 z-index: 3;
	 border: 4px solid #05EFD4;
	 border-radius: 15px;
	 width: 300px;
	 height: 320px;
	 color: #05EFD4;
	 top:50%;
	 left:50%;
	 transform:translate(-50%, -50%);
	 padding: 5px;
	 line-height: 125%;
   }
   .close-about-us{
	 display: flex;
	 justify-content: center;
	 border: 3px solid #05EFD4;
	 border-radius: 10px;
	 box-shadow: 0px -1px 4px rgb(0 255 5 / 30%), 0px 3px 0px rgb(0 241 255 / 25%);
	 color: red;
	 font-size: 26px;
   }
   .close-about-us:active{ 
	 transform: scale(0.95);
	 box-shadow: 0px -1px 20px 0px rgb(0 211 255), 0px 2px 4px 1px rgb(0 255 26 / 70%);
	 background-color: #05EFD4;
	 color: #000000;
	 transition: 0.4s;
   }
   .lasttxt{ 
	 display: flex;
 justify-content: center;
   }
   .text-about-us{
	 transition: 0.2s;
	 overflow: scroll;
   }
   .text-about-us:hover{
	 color: #ffffff;
	 background-color: #000000;
	 border: 23px solid #000000;
	 overflow: scroll;
   }
   .language-container{
	 display: none;
	 flex-direction: column;
	 font-size: 16px;
	 position: absolute;
	 background-color:#0c4e74;
	 z-index: 3;
	 border: 4px solid #05EFD4;
	 border-radius: 15px;
	 width: 200px;
	 color: #05EFD4;
	 top:50%;
	 left:50%;
	 transform:translate(-50%, -50%);
	 padding: 5px;
	 line-height: 170%;
	 text-align: center;
	 font-size: 20px;
	 justify-content: center;
   }
   .language:hover{
	 transition: 0.4s;
	 border-radius: 10px;
	 color: #000000;
	 background-color: #05EFD4;
   }
   .close-language{
	 display: flex;
	 justify-content: center;
	 border: 3px solid #05EFD4;
	 border-radius: 10px;
	 box-shadow: 0px -1px 4px rgb(0 255 5 / 30%), 0px 3px 0px rgb(0 241 255 / 25%);
	 color: red;
	 font-size: 26px;
	 left: 0;
	 bottom: 0;
	 width: 100%;
   }
   .close-language:active{ 
	 box-shadow: 0px -1px 20px 0px rgb(0 211 255), 0px 2px 4px 1px rgb(0 255 26 / 70%);
	 background-color: #05EFD4;
	 color: #000000;
	 transition: 0.4s;
   }
   .in-dev:hover{
	 transition: 0.4s;
	 border-radius: 10px;
	 color: #ffffff;
	 background-color: #000000;
	 opacity: 0.2;
   }