* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }
 a:focus,
 a:active {
	outline: none;
 }
 nav,
 footer,
 header,
 aside {
	display: block;
 }
html,
body {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
outline: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: transparent;
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
font-family: 'Balsamiq Sans';
background: #213242;
}
input,
button,
textarea {
font-family: 'Balsamiq Sans', cursive;
}
input::-ms-clear {
display: none;
}
button {
cursor: pointer;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: 400;
}
.gray-background-container{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	z-index: 2;
}
header {
	padding: 12px;
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
margin: 0 0 30px 0;
font-size: 39px;
color: #05EFD4;
}
.comeback-button {
color: #05EFD4;
font-size: 44px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: transparent;
transition: 0.1s;
}
.comeback-button:active{
transform: scale(0.80);
}
.page-name{
transition: 0.4s;
}
.page-name:hover{
	text-shadow: 0 0 10px #05efd4;
}
.settings{
	transition: 0.1s;
}
.settings:active{
	transform: scale(0.80);
}
.profile_first{
display: flex;
justify-content: space-evenly;
font-size: 32px;
text-align: center;
align-items: center;
margin: 30px auto;
height: 110px;
min-width: 300px;
}
.profile-picture{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background: #213242;
	box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.25), 1px 3px 0px rgba(1, 1, 1, 0.25);
	border-radius: 74px;
}
.Profilesvg{
	width: 80px;
	border-radius: 21px;
	transition: 1s;
}
.Profilesvg:hover{
    transform: scale(1.8); /* (180% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.profile {
    display: flex;
    align-items: center;
}
.change-name{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 24px;
	width: 40px;
	height: 40px;
	background: #213242;
	box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.25), 1px 3px 0px rgba(1, 1, 1, 0.25);
	border-radius: 10px;
}
.profile-title-container{
	display: flex;
	gap: 10px;
}
.name-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.profile-name {
	position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(0, 255, 0);
 }
 
 .profile-name::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid rgb(255, 255, 255);
 }
.statistics{
font-size: 26px;
color: #ffffff;
width: 80%;
margin: 0% auto;
}
.button:active{
transform: scale(0.9);
box-shadow: 0px -1px 20px 0px rgb(0 211 255), 0px 2px 4px 1px rgb(0 255 26 / 70%);
background-color: #05EFD4;
color: #000000;
}
/* pop-up */
.pop-up-alert-container{
	display: none;
	justify-content: center;
	align-items: center;
	margin: 40px 0 0 0;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30px;
    background-color: rgb(0 0 0);
    width: 80%;
    height: 50px;
    border: 2px solid #05efd4;
    border-radius: 20px;
    z-index: 5;
}
.alert-text{
	color: #05efd4;
	font-weight: 900;
	font-size: 17px;
}
/* pop-up */

.container{
	display: flex;
	align-items: center;
    justify-content: center;
	width: 100%;
	font-size: 24px;
}
.button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background: #213242;
	box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.25), -1px -3px 4px rgba(255, 255, 255, 0.25);
	border-radius: 26px;
	width: 60%;
	margin: 20px 0;
	color: white;
}
.rank{
	display: flex;
	border-radius: 10px;
	margin: 10px auto 30px auto;
	color: #05EFD4;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	width: 80%;
	width: 247px;
	height: 45px;
	background: #213242;
	box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.25), -1px -3px 4px rgba(255, 255, 255, 0.25);
	border-radius: 26px;
}
.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
	height: 60px;
	background: #213242;
	box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.25), -1px -3px 4px rgba(255, 255, 255, 0.25);
	border-radius: 26px;
	margin: 0 0px 0 20px;
	color: #05EFD4;
}
.icon:hover {
    background: #05EFD4;
    color: #000000;
	 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(255, 255, 255, 0.25);
	transition: 0.8s;
}
.leave-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}
.leave{
    color: red;
}